/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.cards {
    border-radius: 20px;
    padding: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.title {
    font-weight: bold;
    font-size: 25px;
    margin-left: 25px;
}

#advantages_list,
#disadvantages_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 25px;
    width: calc(5 * 350px + 5 * 50px);
    padding: 25px;
    cursor: -webkit-grab;
    cursor: grab;
}

.content {
    width: 100%;
    overflow: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}

.entry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 350px;
    gap: 15px;
    background: #fff;
    color: var(--text);
    padding: 30px;
    border-radius: 15px;
    -webkit-box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    -webkit-transition: 150ms ease-in-out;
    -o-transition: 150ms ease-in-out;
    transition: 150ms ease-in-out;
    cursor: -webkit-grab;
    cursor: grab;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.entry:hover {
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.main {
    font-weight: bold;
    color: var(--accent);
    text-transform: uppercase;
    font-size: 13px;
}

.text {
    font-weight: 700;
    font-size: 25px;
}

@media screen and (max-width: 450px) {
    .title {
        font-size: 20px;
    }

    #advantages_list,
    #disadvantages_list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 25px;
        width: calc(5 * 250px + 5 * 50px);
        padding: 25px;
        cursor: -webkit-grab;
        cursor: grab;
    }

    .entry {
        width: 250px;
    }

    .main {
        font-size: 10px;
    }

    .text {
        font-size: 20px;
    }
}