:root {
    --background: #f5f5f5 !important;
    --text: #1d1d1d !important;
    --accent: #6e6e6e !important;
}

html {
    font-family: "Helvetica";
    background: var(--background);
    color: var(--text);
}

body {
    margin: 0;
}

canvas {
    width: 100% !important;
    height: 100% !important;
    border-radius: 50px;
}

::-webkit-scrollbar {
    width: 0;
}

.accent {
    color: var(--accent);
    display: inline;
}

.header {
    background: white;
    height: 50px;
    margin-bottom: 40px;
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: var(--background) 5px solid;
}

#bmw_header {
    border-top: var(--background) 5px solid;
}

.header_text {
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
}

#advantages,
#disadvantages {
    padding: 0;
}

#bmw {
    position: relative;
    margin-bottom: 50px;
}

#bmw_cont {
    width: 100%;
}

#bmw_info {
    position: absolute;
    top: 100px;
    width: 100%;
    height: calc(100% - 325px);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: wiggle 10s infinite;
    animation-play-state: running;
}

#bmw_info:has(.question_text:hover) .question_text,
#bmw_info:has(.question_text:hover) {
    animation-play-state: paused;
}

.question {
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: center;
    cursor: pointer;
    user-select: none;
}

.question_text {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    text-transform: uppercase;
    font-weight: bold;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    transition: 250ms;
    transform-origin: center;
    animation: counter-wiggle 10s infinite;
    animation-play-state: running;
}

.question_text:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    font-size: 18px;
}

.answer,
.answer_mini {
    text-align: center;
}

.answer:hover {
    left: 50%;
}

.answer:hover .accent,
.answer_mini:hover .accent {
    color: var(--text);
}

#bmw_info:has(.answer:hover) .question:not(.answer),
#bmw:has(.answer_mini:hover) .question:not(.answer_mini) {
    filter: blur(2px) brightness(0.95);
}

#answer_mini_cont {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer_mini {
    display: none;
    width: 50%;
    min-width: 300px;
}

@keyframes wiggle {
    0% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}

@keyframes counter-wiggle {
    0% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

@media screen and (max-width: 950px) {
    .header_text {
        font-size: 20px;
    }

    #bmw_info {
        display: flex;
        flex-direction: column;
        top: 0;
        height: unset;animation: none;
    }

    .question {
        position: relative;
        left: 0;
        top: 0;
        margin: 10px;
        padding: 10px;
    }

    .question:hover {
        left: 0;
        top: 0;
        padding: 10px;
        transform: scale(1.05) !important;
    }

    .question_text {
        animation: none;
    }

    .question.answer {
        display: none;
    }

    .answer_mini {
        display: block;
        position: relative;
    }
}