/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --background: #fafafa !important;
    --text: #1d1d1d !important;
    --accent: #6e6e6e !important;
}

html {
    font-family: "Helvetica";
    background: var(--background);
    color: var(--text);
    overflow-x: hidden;
    scrollbar-width: none;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

body {
    margin: 0;
}

canvas {
    width: 100% !important;
    height: 100% !important;
    border-radius: 50px;
}

.accent {
    color: var(--accent);
    display: inline;
}

.header {
    background: white;
    height: 50px;
    margin-bottom: 40px;
    position: sticky;
    top: 0;
    z-index: 2;
    border-bottom: var(--background) 5px solid;
}

#bmw_header {
    border-top: var(--background) 5px solid;
}

#end_header {
    margin-bottom: 0;
}

.header_text {
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
}

#advantages,
#disadvantages {
    padding: 0;
}

#bmw {
    position: relative;
    margin-bottom: 50px;
}

#bmw_cont {
    width: 100%;
}

#bmw_info {
    position: absolute;
    top: 100px;
    width: 100%;
    height: calc(100% - 175px);
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

#bmw_info:has(.question_text:hover) .question_text,
#bmw_info:has(.question_text:hover) {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.question {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transition: 250ms;
    -o-transition: 250ms;
    transition: 250ms;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.question_text {
    -webkit-box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    text-transform: uppercase;
    font-weight: bold;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    -webkit-transition: 250ms;
    -o-transition: 250ms;
    transition: 250ms;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

.question_text:hover {
    -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    scale: 1.1;
}

.answer,
.answer_mini {
    text-align: center;
}

.answer_text:hover {
    font-size: 16px;
}

.answer:hover .accent,
.answer_mini:hover .accent {
    color: var(--text);
}

#bmw_info:has(.answer:hover) .question:not(.answer),
#bmw:has(.answer_mini:hover) .question:not(.answer_mini) {
    -webkit-filter: blur(2px) brightness(0.95);
    filter: blur(2px) brightness(0.95);
}

#answer_mini_cont {
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.answer_mini {
    display: none;
    width: 50%;
    min-width: 300px;
}

#bmw_info {
    -webkit-animation: wiggle 15s infinite ease-in-out;
    animation: wiggle 15s infinite ease-in-out;
}

.question_text {
    -webkit-animation: counter-wiggle 15s infinite ease-in-out;
    animation: counter-wiggle 15s infinite ease-in-out;
}

@-webkit-keyframes wiggle {
    0% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    50% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    100% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
}

@keyframes wiggle {
    0% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    50% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    100% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
}

@-webkit-keyframes counter-wiggle {
    0% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    50% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    100% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}

@keyframes counter-wiggle {
    0% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }

    50% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    100% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}

@media screen and (max-width: 950px) {
    canvas {
        -webkit-filter: blur(5px);
        filter: blur(5px);
    }

    .header_text {
        font-size: 20px;
    }

    .title .accent {
        display: none;
    }

    #bmw_cont {
        position: absolute;
    }

    #bmw_info {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        top: 0;
        height: unset;
        -webkit-animation: none;
        animation: none;
    }

    .question {
        position: relative;
        left: 0;
        top: 0;
        margin: 10px;
        padding: 10px;
    }

    .question:hover {
        left: 0;
        top: 0;
        padding: 10px;
    }

    .question_text {
        -webkit-animation: none;
        animation: none;
    }

    .question_text:hover {
        font-size: 16px;
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }

    .question.answer {
        display: none;
    }

    #answer_mini_cont {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .answer_mini {
        display: block;
        position: relative;
    }
}